<h1>Invoice Calculator</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price (incl. VAT)</th>
      <th>Price (excl. VAT)</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr id="invoice-lines" *ngFor="let line of resultInvoiceLines">
      <td>{{line.product}}</td>
      <td>{{line.priceInclusiveVat}}</td>
      <td>{{line.priceExclusiveVat}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><b>Total</b></td>
      <td id="totalPriceInclusiveVat">{{totalPriceInclusiveVat}}</td>
      <td id="totalPriceExclusiveVat">{{totalPriceExclusiveVat}}</td>
    </tr>
    <tr>
      <td>
        <input id="product-input" [(ngModel)]="product" type="text" />
        <select id="vat-category-input" [(ngModel)]="vatCategoryString">
          <option>Food</option>
          <option>Drinks</option>
        </select>
      </td>
      <td>
        <input id="priceInclusiveVat-input" [(ngModel)]="priceInclusiveVat" type="number" />
      </td>
      <td>&nbsp;</td>
      <td>
        <button id="add-button" [disabled]="product==''" (click)="addInvoice()">Add</button>
      </td>
    </tr>
  </tbody>
</table>